* {
  /* border: none; */
  /* border-radius: 0; */
  font-family: MononokiNerdFont, "Noto fonts emoji", "Font Awesome 6 Free";
  /*font-weight: bold;*/
  font-size: 18px;
  /* min-height: 0; */
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #a6adc8;
  margin-right: 5px;
}

#workspaces button.active {
  color: #f38ba8;
}

#workspaces button.urgent {
  color: #d72318;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: rgba(17, 17, 27, 0.4);
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#workspaces,
#tray,
#backlight {
  background: rgba(30, 30, 46, 0.4);
  padding: 0px 10px;
  margin: 3px 0px;
  border: 1px solid rgba(24, 24, 37, 0.4);
}

#tray {
  border-radius: 0;
  margin-right: 0px;
  min-height: 20px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-left: 10px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-updates {
  color: #f5c2e7;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px 0 0 10px;
  margin-left: 60px;
}

#window.empty {
  margin: 0px;
  border-right: none;
}

#clock {
  color: #fab387;
  border-radius: 0 10px 10px 0;
  border-left: none;
  margin-right: 60px;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
}

#battery,
#network {
  color: #a6e3a1;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}
