* {
  font-family: JetBrainsMono;
  color: rgba(235, 219, 178, 1);
  background: transparent;
}

#window {
  background: rgba(40, 40, 40, 0.95);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid rgba(214, 93, 14, 1);
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(146, 131, 116, 1);
}

#text {
  margin: 2px;
}
