* {
  font-family: JetBrains Mono, Symbols Nerd Font;
  font-size: 24px;
  transition-property: background-color;
  transition-duration: 0.7s;
}
window {
  background-color: rgba(40, 40, 40, 0.85);
  border-radius: 10px;
}
button {
  color: #fbf1c7;
  background-color: #d65d0e;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
}

button:active {
  background-color: #fe8019;
}

button:focus {
  background-color: #fe8019;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
